body {
  background-color: $color-tree-lighter;
}

.expanded {
  &.dark {
    background-image: radial-gradient(circle at 82% 61%, #fafcfd, $color-slate);
  }
  &.light {
    background-color: #FFF;
  }
}

.row.section {
  padding-bottom: 59px;

  hr {
    border-bottom: 2px solid #ff9477;
    width: 64px;
    margin: 60px 0;
  }

  &.padded {
    padding-top: 73px;
  }
}

.row.pricing-table {
  .columns {
    border-left: 1px solid $color-slate;
    text-align: center;
    padding: 24px;
    &:first-child {
      border-left: 0;
    }
  }
  h2 {
    line-height: 36px;
    &:last-child {
      margin-top: 12px;
    }
  }
  h3 {
    text-transform: uppercase;
    margin: 12px 0 24px 0;
  }
  ul {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
}

footer.expanded {
  background: $color-slate-darker;
  color: $color-slate-light;
  font-size: .75rem;
  font-weight: 400;
  padding: 2rem 0;
  trh-logo {
    float: left;
    margin-right: 2rem;
    svg {
      height: 3.75rem;
    }
  }
  .menu {
    a {
      color: $color-slate-light;
      font-size: .75rem;
      font-weight: 700;
      text-transform: uppercase;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
