<div class="pricing-table row" data-equalizer>
  <div class="large-4 columns">
    <h2>Option 1</h2>
    <h3>Good</h3>
    <ul data-equalizer-watch>
      <li>Sed ut perspiciatis unde omnis iste</li>
      <li>Natus error sit voluptatem accusantium</li>
      <li>Doloremque laudantium, totam rem aperiam</li>
      <li>Aque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</li>
    </ul>
    <h2>$199</h2>
  </div>
  <div class="large-4 columns">
    <h2>Option 2</h2>
    <h3>Better</h3>
    <ul data-equalizer-watch>
      <li>Nemo enim ipsam voluptatem quia voluptas sit</li>
      <li>Aspernatur aut odit aut fugit, sed quia consequuntur</li>
      <li>Magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
    </ul>
    <h2>$299</h2>
  </div>
  <div class="large-4 columns">
    <h2>Option 3</h2>
    <h3>Best</h3>
    <ul data-equalizer-watch>
      <li>Ut enim ad minima veniam, quis nostrum</li>
      <li>Ullam corporis suscipit laboriosam, nisi ut aliquid ex</li>
      <li>Ea commodi consequatur? Quis autem vel eum iure</li>
      <li>Qui in ea voluptate velit esse quam nihil molestiae</li>
      <li>El illum qui dolorem eum fugiat quo voluptas nulla</li>
    </ul>
    <h2>$399</h2>
  </div>
</div>
